toast-container {
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
}

toast-item {
    width: 300px;
}
/* navigation toggle/hover */
.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-menu.menu {
    display: none;
}

a.dropdown-toggle:active,
a.dropdown-toggle:focus {
    background: #f2f2f2;
}

a.dropdown-toggle:active+.dropdown-menu,
a.dropdown-toggle:focus+.dropdown-menu {
    display: block;
}

.dropdown-menu:hover {
    display: block;
}

td.manage-tools-cell {
    width: 100px;
}
/* hidden print */
@media print {
    i {
      background: inherit;
    }
    data-admin .object-metadata,
    .manage-tools-cell,
    list-table th:nth-child(2),
    dropdown-menu,
    nav-container .tab {
        display: none;
    }
}
