<script type="text/stache" id="demo-html">
    <h1>Property Table Demo</h1>
    <h2>Simple: </h2>
    <property-table vm:object:from="data" />

    <br />
    <div class="divider" />

    <h2>Customized: </h2>
    <property-table vm:object:from="data" vm:fields:from="fields" />
</script>

<script src="../../../docs/can-admin/steal.production.js" main="can-admin/docs-main">
// <script src="../../node_modules/steal/steal.js" main="can-admin/docs-main">
  steal.import('can-admin/components/property-table/demo/propertyTable');
</script>
